
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #767b80;
color: #fff;
padding: 20px;
text-align: center;
border-radius: 8px;
}



h1, h2, h3, h4, h5, h6 {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}


p, ul, ol {
    color: white;
}

ul, ol {
    margin-left: 20px;
}

.container {
    padding: 20px;
}


hr {
    border: 1px solid white;
}


header, footer {
    background-color: black;
}

body {
    font-size: 16px;
    line-height: 1.6;
}

.categoria-videos {
    display: flex;
    overflow-x: auto;
    gap: 10px;
}

.categoria {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 50px;
}

.categoria-videos img {
    opacity: 0.5;
    height: 200px;
}

.categoria-videos img:hover {
    opacity: 1.0;
    border: 3px solid green;
}

.categoria h2 {
    color: rgb(42, 122, 228);
}

.FotoRaphael {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}